/* This is an example CSS file, feel free to remove/edit it anytime */
.main-container {
  background-color: #B4BDFF;
}

span{
  color: #7785ed;
}

h1{
  font-family: sans-serif;
}

h2{
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
}

ul{
  font-family: sans-serif;
}

.middle-container {
  background-color: whitesmoke;
  height: 80vh;
  width: 70%;
  border-radius:40px;
  position: absolute;
  top: 10%;
  left: 15%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.blue-container {
  background-color: #83A2FF;
  height: 80vh;
  width: 30%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  color: whitesmoke;
  font-size: 80%;
}

.paragraph {
  padding-top: 80%;
}

.small-box_1 {
  height: 30px;
  width: 30px;
  background-color: rgb(213, 211, 211);
  position: relative;
  left: 250px;
  bottom: 85px;
  z-index: 2;
}

.small-box_2 {
  height: 30px;
  width: 30px;
  background-color: rgb(213, 211, 211);
  position: relative;
  left: 205px;
  bottom: 430px;
  z-index: 2;
}

.small-box_3 {
  height: 15px;
  width: 30px;
  background-color: rgb(213, 211, 211);
  position: relative;
  left: 475px;
  bottom: 490px;
  z-index: 2;
}

.small-circle_1 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #83A2FF;
  position: absolute;
  right: 385px;
  top: 370px;
  z-index: 1;
}

.incomplete-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #83A2FF;
  position: absolute;
  right: -30px;
  bottom: 340px;
}


.user-photo {
  width: 30%;
  height: 82%;
  position: absolute;
  bottom: 15%;
  right: 45%;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.image {
  height: 15px;
  width: 15px;
}

.details{
  display: inline-block;
  position: absolute;
  left: 58%;
  top: 5%;
}
 
hr {
  background-color: rgb(213, 211, 211);
  height: 10px;
  border: none;
}

.paragraph {
  margin-bottom: 20px;
  padding-left: 30px;
  margin: 0;
  font-family: sans-serif;
}

.paragraph_2 {
  margin-bottom: 20px;
  padding-left: 30px;
  margin: 0;
  font-family: sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}

.user-photo:hover {
  transform: scale(1.2); /* Scale the element on hover */
}
